.App {
  text-align: center;
}

.App-avocado {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-avocado {
    animation: App-avocado-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #07d811;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Button {
  color: #02270a;
  background-color: #00ff0d;
  margin: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  border-style: initial;
}

@keyframes App-avocado-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
